.header {
  margin-bottom: 10vw;
}

h1 {
  margin-left: 10vw;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 40px;
  color: #265b5f;
}

h2 {
  font-size: 25px;
  font-weight: 800;
  color: #265b5f;
}

h3 {
  justify-content: center;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 25px;
  color: #265b5f;
}

.saved-trails {
  margin-top: 2vw;
  margin-bottom: 10vw;
}

.saved-title hr {
  display: inline-block;
  width: 30%;
  margin: 5px 10px;
  border-top: 1px solid #265b5f;
}
