.header {
  display: flex;
  margin-top: 100px;
  margin-right: 10vw;
}
.header h1 {
  margin-left: 10vw;
  overflow: hidden;
  font-family: "Mulish", sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #265b5f;
}
.header h2 {
  margin-left: 40px;
  margin-top: 0.5vw;
  white-space: nowrap;
  font-size: 25px;
  color: #265b5f;
}

h3 {
  justify-content: center;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 25px;
  color: #265b5f;
}

.boxed {
  box-sizing: content-box;
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  border: solid black 1px;
}

img {
  display: flex;
  justify-content: left;
  margin-left: 10vw;
  border-radius: 50px;
}

/****************side information*******************/
.single-info {
  text-align: left;
  justify-content: left;
  margin-top: -320px;
  margin-left: 630px;
  margin-right: 200px;
  font-family: "Quicksand", sans-serif;
}

#desc {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.difficulty-box {
  display: inline-block;
  padding: 5px 10px;
  box-sizing: content-box;
  border: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: #10a5f5;
  color: #10a5f5;
}
#difficulty {
  display: inline-block;
  white-space: nowrap;
  margin: 0px 9px 0px 0px;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  font-weight: 800;
  color: #10a5f5;
}
#diff-num {
  display: inline-block;
  margin: 0px;
  white-space: nowrap;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  font-weight: 800;
  color: #10a5f5;
}
#rating {
  display: flex;
  color: #ff8b3d;
}
#rating-num {
  display: flex;
  margin-left: 5px;
  color: #ff8b3d;
}

.rate-me h3 {
  display: flex;
  justify-content: space-between;
  margin-right: 1vw;
  font-size: 30px;
  color: #265b5f;
}

/************************Rating**************************/

#post-rating {
  -webkit-appearance: none;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 1vw;
  vertical-align: middle;

  font-weight: 600;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  border: 1px solid #0366ee;
  border-radius: 10px;
  background: #0366ee;
  color: #ffffff;

  cursor: pointer;
  line-height: 1;
}

#post-rating:hover {
  border: 1px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

#post-rating:focus {
  border: 1px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

/**********************Reviews********************/

.reviews {
  margin-top: 2vw;
  margin-bottom: 1vw;
}

.reviews h2 {
  font-size: 25px;
  font-weight: 800;
  color: #265b5f;
}

.reviews-title hr {
  display: inline-block;
  width: 30%;
  margin: 5px 10px;
  border-top: 1px solid #265b5f;
}

#review-button {
  -webkit-appearance: none;
  padding: 0.75rem;
  width: 150px;
  height: 60px;
  margin-left: 30%;
  vertical-align: middle;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  background: #0366ee;
  color: #ffffff;
  cursor: pointer;
  line-height: 1;
  white-space: nowrap;
}

#review-button:hover {
  background-color: #0250bc;
  color: white;
  text-decoration: none;
}

/****************Save Hike********************/
#save-hike {
  -webkit-appearance: none;
  display: inline-flex;
  justify-content: center;
  width: 180px;
  height: 60px;
  margin-left: 50px;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  border-radius: 10px;
  background: #1499e4;
  cursor: pointer;
}
#save-hike p {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  margin-left: 10px;
  color: #ffffff;
}
#save-hike img {
  border-radius: 0%;
}
#save-hike:hover {
  background-color: #148bcf;
  color: white;
  text-decoration: none;
}

/*************Delete Comment*******************/

#delete-button {
  -webkit-appearance: none;
  padding: 0.75rem;
  width: 100px;
  height: 50px;
  vertical-align: middle;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  border-color: rgb(255, 73, 73);
  border-width: thin;
  border-radius: 30px;
  color: rgb(255, 73, 73);
  cursor: pointer;
  line-height: 1;
}

#delete-button:hover {
  background-color: rgb(255, 73, 73);
  color: white;
  text-decoration: none;
}
